@import "../bootstrap/less/bootstrap";

@import "variables";

body {
  background-color: @off-white;
}

h1 {
  color: @blue;
}

header .logo {
  height: 50px;
}

.table-condensed {
  th,
  td {
    padding: 0 5px;
  }
}
.table-hover {
  tbody {
    tr,
    th,
    td {
      cursor: pointer;
    }
  }
}

.fixtures {
  list-style: none;
  margin: 0;
  padding: 0;
}